.home-page{

    /* background-image: url("D:\\POC\\Global Technology Website Task\\GlobalTech_UI\\global-Tech\\src\\assets\\home background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    width:100%;
    height:100vh;
}