<div class="login-Container">
    <img src="../assets/login.jpg" alt="" />
    <div class="login-wrapper">
        <form class="login-left" [formGroup]="form" (ngSubmit)="onSubmit()"> 
            <h2>Login</h2>
            <div class="user-details">
                <p class="email" for="">EMAIL</p>
                <input class="input-box" type="email" placeholder="email" formControlName="email">
                <div class="error-feedback" *ngIf="hasDisplayableError('email') && form.controls['email'].hasError('required')"> 
                    Please enter your email
                </div>


                <p class="password" for="">PASSWORD</p>
                <input class="input-box" type="password" placeholder="password" formControlName="password">
                <div class="error-feedback" *ngIf="hasDisplayableError('password') && form.controls['password'].hasError('required')"> 
                    Please enter your password 
                </div>

            </div>
            <a><button [disabled]="form.invalid" class="btn btn-login">Login</button></a>
            <div class="remember-forgot">
                <input class="checkbox " type="checkbox">
                <label class="Remember" for="">Remember Me</label>
                <span class="forgot"><a href="#">Forget password?</a></span>
            </div>
        </form>
        <div class="login-right">
            <h2>Welcome to login</h2>
            <p>Don't have an account?</p>
            <a routerLink="/signup"><button class="btn btn-signup" >Sign Up</button></a>
        </div>
    </div>
</div>